@using Microsoft.AspNetCore.Http;
@model IEnumerable<Dominio.Actividad>

<h2>Comprar entradas para @ViewBag.act.Nombre</h2>

<form method="post">

    <h3>Comprar entradas</h3><br><br>
    <lavel>Nombre actividad</lavel>
    <input type="text" name="NombreActividad"><br>
    <lavel>Cantidad de entradas</lavel>
    <input type="number" name="CantidadEntradas"><br>
    <input type="submit" value="Comprar">
</form>

@ViewBag.resultado