<h1>Alta de nuevo usuario</h1>

<form method="post">
    <label>Nombre</label>
    <input type="text" name="nombre">
    <br>

    <label>Apellido</label>
    <input type="text" name="apellido">
    <br>
    <label>Email</label>
    <input type="text" name="email">
    <br>
    <label>Fecha de Nacimiento</label>
    <input type="text" name="fechaNacimiento">
    <br>
    <label>Nombre de Usuario</label>
    <input type="text" name="nombreUsuario">
    <br>
    <label>Contraseña</label>
    <input type="text" name="contrasenia">
    <br>

    <input type="submit" value="Dar de alta">
</form>

@ViewBag.Msg
