<h1>BIENVENIDOS AL PORTAL DEL USUARIO</h1>

<h3>Lista de Actividades</h3>

@foreach(var actividad in ViewBag.ListActividades)
            {

               <p>@actividad.NombreActividad - @actividad.Categoria.Nombre</p>

            }
<p>-----------------------------------------------------------------------------------------</p>

  

                