<h1>Registro de nuevo usuario</h1>

<form method="post">
    <label>Nombre de usuario: </label>
    <input type="text" name="nombreUsuario" id="nombreUsuario">
    <br>
    <label>Contraseña: </label>
    <input type="text" name="contrasenia" id="contrasenia">
    <br>

    <input type="submit" value="Registrarse">
</form>

@ViewBag.Resultado
