<h1>Administracion del sitio</h1><br><br>



<h3>Lista de todos los usuarios</h3>

@foreach (var usuario in ViewBag.MostrarTodosUsuarios)
            {

               <p>@usuario.Nombre , @usuario.Apellido </p>

            }