<h1>Registro de nuevo usuario</h1>

<form method="post">
    <label>Nombre</label>
    <input type="text" name="nombre" id="nombre">
    <br>

    <label>Apellido</label>
    <input type="text" name="apellido" id="apellido">
    <br>
    <label>Email</label>
    <input type="text" name="email" id="email">
    <br>
    <label>Fecha de Nacimiento</label>
    <input type="text" name="fechaNacimiento" id="fechaNacimiento">
    <br>
    <label>Nombre de Usuario</label>
    <input type="text" name="nombreUsuario" id="nombreUsuario">
    <br>
    <label>Contraseña</label>
    <input type="text" name="contrasenia" id="contrasenia">
    <br>

    <input type="submit" value="Regisrarse">
</form>

@ViewBag.Msg
