

<h1>Restablecer Usuario Registrado</h1>



<form method="post" id="restablecerUsuario">

    <label>Ingrese Id del usuario  eliminado</label>
    <input type="text" name="id" id="usuarioEliminado">
    <br>
    <input type="submit" value="Restablecer">




</form>

<p id="pMensaje">@ViewBag.Mensaje</p>

